<div class="container">
    <div class="col-md-12 heading">
        <h3 translate="WELCOME"></h3>
        <h3>{{loggedInUser.first_name}} {{loggedInUser.last_name}}</h3>
    </div>

    <div class="jumbotron">
        <h3 translate="LESSONS_PENDING_APPROVAL"></h3>
        <table class="table">
            <thead>
                <tr><th></th><th translate="TH_TITLE"></th><th translate="TH_AUTHOR"></th><th translate="TH_STATUS"></th><th translate="TH_DATE"></th><th translate="TH_MATERIALS"></th></tr>
            </thead>
            <tbody ng-repeat="lesson in lessonPlans">
                <tr>
                    <td><button class="btn btn-primary" ng-click="editClickedLesson($index)" translate="BTN_SELECT"></button></td>
                    <td>{{lesson.title}}</td><td>{{lesson.author}}</td><td>{{lesson.status}}</td><td>{{lesson.published | date}}</td>
                    <td ng-show="lesson.materials"><i class="fa green fa-check"></i></td><td ng-hide="lesson.materials"><i class="fa red fa-times"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
