<div class="container col-md-12">
    <div class="col-md-12 heading">
        <h3 translate="WELCOME"></h3>
        <h4>{{loggedInUser.first_name}} {{loggedInUser.last_name}}</h4>
    </div>

    <div class="col-md-3 favorites-lesson-plans">
        <div ng-if="loggedInUser.role=='admin'">
            <h3 translate="All_Lessons"><i class="fa small-blue fa-star"></i></h3>
        </div>
        <div ng-if="loggedInUser.role=='student'">
            <h3 translate="My_Lessons"><i class="fa small-blue fa-star"></i></h3>
        </div>
        <table class="table">
            <thead><tr>
            <th translate="TH_TITLE"></th>
            <th translate="TH_AUTHOR"></th>
            </tr>
        </thead>
        <tbody ng-repeat="lesson in lessons">
            <tr>
            <td>{{lesson.title}}</td>
            <td>{{lesson.author}}</td>
            <td>
                <div>
                    <button class="select-lesson-btn btn btn-primary" ng-click="editClickedLesson($index)" translate="Lesson">>></button>
                </div>
            </td>
            </tr>
        </tbody>
        </table>
    </div>

    <div class="col-md-9 lessons-created-by-user">
        <div ng-if="loggedInUser.role=='admin'">
            <h3 translate="Schedule_for_week">{{schedules[0].scheduled_date}}</h3>
        </div>
        <div ng-if="loggedInUser.role=='student'">
            <h3 translate="My_schedule"></h3>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th translate="TH_DATE"></th>
                <th>09:00-10:00</th>
                <th>10:00-11:00</th>
                <th>11:00-12:00</th>
                <th>12:00-13:00</th>
                <th>13:00-14:00</th>
                <th>14:00-15:00</th>
                <th>15:00-16:00</th>
                <th>16:00-17:00</th>
            </thead>
            <tbody ng-repeat="schedule in schedules">
            <tr>
                <td>{{schedule.scheduled_date}}</td>
                <td>
                  <div ng-if="loggedInUser.role=='student'">
                    <div ng-if="schedule.nine_ten==''">
                        <button class="select-lesson-btn btn btn-primary" ng-click="editClickedSchedule($index, 0, true)" translate="Select"></button>
                    </div>
                    <div ng-if="schedule.nine_ten!=''">
                        <button class="select-lesson-btn btn btn-default" ng-click="editClickedSchedule($index, 0, false)" translate="Booked"></button>
                    </div>
                  </div>
                  <div ng-if="loggedInUser.role=='admin'">
                    <button class="select-lesson-btn btn btn-primary">{{schedule.nine_ten}}</button>
                  </div>
                </td>
                <td>
                  <div ng-if="loggedInUser.role=='student'">
                    <div ng-if="schedule.ten_eleven==''">
                        <button class="select-lesson-btn btn btn-primary" ng-click="editClickedSchedule($index, 1, true)" translate="Select"></button>
                    </div>
                    <div ng-if="schedule.ten_eleven!=''">
                        <button class="select-lesson-btn btn btn-default" ng-click="editClickedSchedule($index, 1, false)" translate="Booked"></button>
                    </div>
                  </div>
                  <div ng-if="loggedInUser.role=='admin'">
                    <button class="select-lesson-btn btn btn-primary">{{schedule.ten_eleven}}</button>
                  </div>
                </td>
                <td>
                  <div ng-if="loggedInUser.role=='student'">
                    <div ng-if="schedule.eleven_twelve==''">
                        <button class="select-lesson-btn btn btn-primary" ng-click="editClickedSchedule($index, 2, true)" translate="Select"></button>
                    </div>
                    <div ng-if="schedule.eleven_twelve!=''">
                        <button class="select-lesson-btn btn btn-default" ng-click="editClickedSchedule($index, 2, false)" translate="Booked"></button>
                    </div>
                  </div>
                  <div ng-if="loggedInUser.role=='admin'">
                    <button class="select-lesson-btn btn btn-primary">{{schedule.eleven_twelve}}</button>
                  </div>
                </td>
                <td>
                  <div ng-if="loggedInUser.role=='student'">
                    <div ng-if="schedule.twelve_thirteen==''">
                        <button class="select-lesson-btn btn btn-primary" ng-click="editClickedSchedule($index, 3, true)" translate="Select"></button>
                    </div>
                    <div ng-if="schedule.twelve_thirteen!=''">
                        <button class="select-lesson-btn btn btn-default" ng-click="editClickedSchedule($index, 3, false)" translate="Booked"></button>
                    </div>
                  </div>
                  <div ng-if="loggedInUser.role=='admin'">
                    <button class="select-lesson-btn btn btn-primary">{{schedule.twelve_thirteen}}</button>
                  </div>
                </td>
                <td>
                  <div ng-if="loggedInUser.role=='student'">
                    <div ng-if="schedule.thirteen_fourteen==''">
                        <button class="select-lesson-btn btn btn-primary" ng-click="editClickedSchedule($index, 4, true)" translate="Select"></button>
                    </div>
                    <div ng-if="schedule.thirteen_fourteen!=''">
                        <button class="select-lesson-btn btn btn-default" ng-click="editClickedSchedule($index, 4, false)" translate="Booked"></button>
                    </div>
                  </div>
                  <div ng-if="loggedInUser.role=='admin'">
                    <button class="select-lesson-btn btn btn-primary">{{schedule.thirteen_fourteen}}</button>
                  </div>
                </td>
                <td>
                  <div ng-if="loggedInUser.role=='student'">
                    <div ng-if="schedule.fourteen_fifteen==''">
                        <button class="select-lesson-btn btn btn-primary" ng-click="editClickedSchedule($index, 5, true)" translate="Select"></button>
                    </div>
                    <div ng-if="schedule.fourteen_fifteen!=''">
                        <button class="select-lesson-btn btn btn-default" ng-click="editClickedSchedule($index, 5, false)" translate="Booked"></button>
                    </div>
                  </div>
                  <div ng-if="loggedInUser.role=='admin'">
                    <button class="select-lesson-btn btn btn-primary">{{schedule.fourteen_fifteen}}</button>
                  </div>
                </td>
                <td>
                  <div ng-if="loggedInUser.role=='student'">
                    <div ng-if="schedule.fifteen_sixteen==''">
                        <button class="select-lesson-btn btn btn-primary" ng-click="editClickedSchedule($index, 6, true)" translate="Select"></button>
                    </div>
                    <div ng-if="schedule.fifteen_sixteen!=''">
                        <button class="select-lesson-btn btn btn-default" ng-click="editClickedSchedule($index, 6, false)" translate="Booked"></button>
                    </div>
                  </div>
                  <div ng-if="loggedInUser.role=='admin'">
                    <button class="select-lesson-btn btn btn-primary">{{schedule.fifteen_sixteen}}</button>
                  </div>
                </td>
                <td>
                  <div ng-if="loggedInUser.role=='student'">
                    <div ng-if="schedule.sixteen_seventeen==''">
                        <button class="select-lesson-btn btn btn-primary" ng-click="editClickedSchedule($index, 7, true)" translate="Select"></button>
                    </div>
                    <div ng-if="schedule.sixteen_seventeen!=''">
                        <button class="select-lesson-btn btn btn-default" ng-click="editClickedSchedule($index, 7, false)" translate="Booked"></button>
                    </div>
                  </div>
                  <div ng-if="loggedInUser.role=='admin'">
                    <button class="select-lesson-btn btn btn-primary">{{schedule.sixteen_seventeen}}</button>
                  </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
